/* Pixel Font */
@font-face {
  font-family: "04b03";
  src: url("../fonts/04B_03__.ttf");
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "04b03", monospace;
}

#game #game-start .red-btn {
  width: 100px;
  height: 100px;
}

/* Game Field */
#game #game-field {
  width: 600px;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
}
#game #game-field table {
  background-color: #333;
  width: 600px;
  border: 0;
  border-spacing: 0;
}
#game #game-field table td {
  position: relative;
  width: 120px;
  height: 120px;
  aspect-ratio: 1/1;
  padding: 0;
}
#game #game-field table td .sprite {
  display: block;
  position: absolute;
  bottom: 0;
  width: 120px;
  height: 120px;
  animation: opacity-reverse 0.4s;
  animation-fill-mode: forwards;
  background-size: 120px;
}
#game #game-field table td .sprite:hover {
  animation: opacity 0.4s;
  animation-fill-mode: forwards;
}
#game #game-field .panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
#game #game-field .panel .info {
  display: flex;
  justify-self: center;
  font-size: 1.4em;
}

/* Game Fight */
#game #game-fight {
  display: flex;
  flex-direction: column;
  width: 600px;
}
#game #game-fight .monsters {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#game #game-fight .monsters .monster {
  margin-right: 20px;
  margin-left: 20px;
  aspect-ratio: 1;
}
#game #game-fight .monsters .monster .sprite {
  width: 200px;
  aspect-ratio: 1/1;
  background-size: 200px;
}
#game #game-fight .monsters .monster .stats {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
}
#game #game-fight .monsters .monster .stats .fas {
  margin-right: 5px;
  margin-left: 5px;
}
#game #game-fight .action-btn {
  display: flex;
  justify-content: center;
}

#game #game-select-monster {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
#game #game-select-monster select {
  outline: 0;
  border: 0;
  background: #e0e0e0;
  background-image: none;
  color: #4d4d4d;
  padding: 0 0.4em;
  cursor: pointer;
  font-size: 22px;
  font-family: "04b03", monospace;
}
#game #game-select-monster .select {
  height: 30px;
  width: 400px;
  background: #e0e0e0;
  overflow: hidden;
  border-radius: 8px;
}
#game #game-select-monster .ok {
  margin: auto;
}

.loader {
  width: 320px;
  height: 320px;
  border: 5px solid #ffffff;
  border-bottom-color: #e53030;
  border-radius: 50%;
  display: inline-block;
  animation: rotation 1s linear infinite;
}

/* Font Awesome */
.fa-heart {
  color: red;
}

.fa-shield-alt {
  color: #4b90e9;
}

/* NES Button */
.red-btn {
  background: #e53030;
  border: 3px solid #fff;
  border-radius: 100%;
  box-shadow: 0 -2px 0 3px #c91919 inset, 0 5px 5px rgba(65, 8, 8, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
  cursor: pointer;
  display: inline-block;
  height: 75px;
  width: 75px;
  font-family: "04b03", monospace;
  font-size: 30px;
}

.red-btn:hover {
  background: #333333;
  box-shadow: 0 -2px 0 3px #1a1a1a inset, 0 5px 5px rgba(0, 0, 0, 0.17), 0 15px rgba(255, 255, 255, 0.32) inset;
}

/* Sprites */
.hero_1 {
  background: url("../images/players/hero_1.png");
}

.hero_2 {
  background: url("../images/players/hero_2.png");
}

.land {
  background: url("../images/cells/land.png");
}

.forest {
  background: url("../images/cells/forest.png");
}

.lake {
  background: url("../images/cells/lake.png");
}

.volcano {
  background: url("../images/cells/volcano.png");
}

.dark_castle {
  background: url("../images/cells/dark_castle.png");
}

.white_castle {
  background: url("../images/cells/white_castle.png");
}

.black_dragon {
  background: url("../images/monsters/black_dragon.png");
}

.cat {
  background: url("../images/monsters/cat.png");
}

.dog {
  background: url("../images/monsters/dog.png");
}

.dragon {
  background: url("../images/monsters/dragon.png");
}

.horse {
  background: url("../images/monsters/horse.png");
}

.lion {
  background: url("../images/monsters/lion.png");
}

.medusa {
  background: url("../images/monsters/medusa.png");
}

.plant {
  background: url("../images/monsters/plant.png");
}

.shark {
  background: url("../images/monsters/shark.png");
}

.snake {
  background: url("../images/monsters/snake.png");
}

/* Animations */
@keyframes opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.8;
  }
}
@keyframes opacity-reverse {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Hide */
.hide {
  border: 0px;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.mirrorY {
  transform: scale(-1, 1);
}

/* Mobile */
@media screen and (min-width: 100px) {
  #game #game-field {
    width: 100px;
  }
  #game #game-field table {
    width: 100px;
  }
  #game #game-field table td {
    width: 20px;
    height: 20px;
  }
  #game #game-field table td .sprite {
    width: 20px;
    height: 20px;
    background-size: 20px;
  }
}
@media screen and (min-width: 200px) {
  #game #game-field {
    width: 200px;
  }
  #game #game-field table {
    width: 200px;
  }
  #game #game-field table td {
    width: 40px;
    height: 40px;
  }
  #game #game-field table td .sprite {
    width: 40px;
    height: 40px;
    background-size: 40px;
  }
}
@media screen and (min-width: 300px) {
  #game #game-field {
    width: 300px;
  }
  #game #game-field table {
    width: 300px;
  }
  #game #game-field table td {
    width: 60px;
    height: 60px;
  }
  #game #game-field table td .sprite {
    width: 60px;
    height: 60px;
    background-size: 60px;
  }
}
@media screen and (min-width: 400px) {
  #game #game-field {
    width: 400px;
  }
  #game #game-field table {
    width: 400px;
  }
  #game #game-field table td {
    width: 80px;
    height: 80px;
  }
  #game #game-field table td .sprite {
    width: 80px;
    height: 80px;
    background-size: 80px;
  }
}
@media screen and (min-width: 500px) {
  #game #game-field {
    width: 500px;
  }
  #game #game-field table {
    width: 500px;
  }
  #game #game-field table td {
    width: 100px;
    height: 100px;
  }
  #game #game-field table td .sprite {
    width: 100px;
    height: 100px;
    background-size: 100px;
  }
}