@use "sass:math"

/* Pixel Font */
@font-face
    font-family: '04b03'
    src: url('../fonts/04B_03__.ttf')

body
    margin: 0
    padding: 0
    display: flex
    align-items: center
    justify-content: center
    height: 100vh
    font-family: '04b03', monospace

#game
    #game-start
        .red-btn
            width: 100px
            height: 100px

/* Game Field */
$field-width: 600
$cells-in-row: 5
#game
    #game-field
        width: $field-width + px
        aspect-ratio: 1 / 1
        display: flex
        flex-direction: column

        table
            background-color: #333
            width: $field-width + px
            border: 0
            border-spacing: 0

            td
                position: relative
                width: math.div($field-width, $cells-in-row) + px
                height: math.div($field-width, $cells-in-row) + px
                aspect-ratio: 1 / 1
                padding: 0

                .sprite
                    display: block
                    position: absolute
                    bottom: 0
                    width: math.div($field-width, $cells-in-row) + px
                    height: math.div($field-width, $cells-in-row) + px
                    animation: opacity-reverse 0.4s
                    animation-fill-mode: forwards
                    background-size: math.div($field-width, $cells-in-row) + px

                .sprite:hover
                    animation: opacity 0.4s
                    animation-fill-mode: forwards

        .panel
            display: flex
            flex-direction: row
            align-items: center
            justify-content: space-between
            margin-top: 20px

            .info
                display: flex
                justify-self: center
                font-size: 1.4em

/* Game Fight */
#game
    #game-fight
        display: flex
        flex-direction: column
        width: $field-width + px

        .monsters
            display: flex
            flex-direction: row
            justify-content: center

            .monster
                margin-right: 20px
                margin-left: 20px
                aspect-ratio: 1
                
                .sprite
                    width: 200px
                    aspect-ratio: 1 / 1
                    background-size: 200px
                
                .stats
                    text-align: center
                    margin-top: 10px
                    margin-bottom: 50px

                    .fas
                        margin-right: 5px
                        margin-left: 5px

        .action-btn
            display: flex
            justify-content: center

#game
    #game-select-monster
        display: flex
        flex-direction: column
        justify-content: start
        select 
            outline: 0
            border: 0 
            background: #e0e0e0
            background-image: none
            color: #4d4d4d
            padding: 0 .4em
            cursor: pointer
            font-size: 22px
            font-family: '04b03', monospace
        .select 
            height: 30px
            width: 400px
            background: #e0e0e0
            overflow: hidden
            border-radius: 8px
        .ok
            margin: auto


.loader
    width : 320px
    height: 320px
    border: 5px solid #ffffff
    border-bottom-color: #e53030
    border-radius: 50%
    display: inline-block
    animation: rotation 1s linear infinite

/* Font Awesome */
.fa-heart
    color: red

.fa-shield-alt
    color: #4b90e9

/* NES Button */
.red-btn
    background: #e53030
    border: 3px solid #fff
    border-radius: 100%
    box-shadow: 0 -2px 0 3px #c91919 inset, 0 5px 5px rgba(65, 8, 8, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset
    cursor: pointer
    display: inline-block
    height: 75px
    width: 75px
    font-family: '04b03', monospace
    font-size: 30px

.red-btn:hover
    background: #333333
    box-shadow: 0 -2px 0 3px #1a1a1a inset, 0 5px 5px rgba(0, 0, 0, 0.17), 0 15px rgba(255, 255, 255, 0.32) inset

/* Sprites */

// players
.hero_1
    background: url("../images/players/hero_1.png")

.hero_2
    background: url("../images/players/hero_2.png")

// cells
.land
    background: url("../images/cells/land.png")

.forest
    background: url("../images/cells/forest.png")

.lake
    background: url("../images/cells/lake.png")

.volcano
    background: url("../images/cells/volcano.png")

.dark_castle
    background: url("../images/cells/dark_castle.png")

.white_castle
    background: url("../images/cells/white_castle.png")

//monsters
.black_dragon
    background: url("../images/monsters/black_dragon.png")

.cat
    background: url("../images/monsters/cat.png")

.dog
    background: url("../images/monsters/dog.png")

.dragon
    background: url("../images/monsters/dragon.png")

.horse
    background: url("../images/monsters/horse.png")

.lion
    background: url("../images/monsters/lion.png")

.medusa
    background: url("../images/monsters/medusa.png")

.plant
    background: url("../images/monsters/plant.png")

.shark
    background: url("../images/monsters/shark.png")

.snake
    background: url("../images/monsters/snake.png")

/* Animations */
@keyframes opacity
    from
        opacity: 1
    to
        opacity: 0.8

@keyframes opacity-reverse
    from
        opacity: 0.8
    to
        opacity: 1

@keyframes rotation
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)

/* Hide */
.hide
    border: 0px
    clip: rect(0 0 0 0)
    height: 1px
    margin: -1px
    overflow: hidden
    padding: 0
    position: absolute
    white-space: nowrap
    width: 1px

.mirrorY 
    transform: scale(-1, 1)

/* Mobile */
@for $i from 2 to 7
    $new-field-width: ($i - 1) * 100
    @media screen and (min-width: ($i - 1) * 100 + px)

        #game
            #game-field
                width: $new-field-width + px
                table
                    width: $new-field-width + px
                    td
                        width: math.div($new-field-width, $cells-in-row) + px
                        height: math.div($new-field-width, $cells-in-row) + px
                        .sprite
                            width: math.div($new-field-width, $cells-in-row) + px
                            height: math.div($new-field-width, $cells-in-row) + px
                            background-size: math.div($new-field-width, $cells-in-row) + px
