body {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/**
 * Game
 */

#game {
    display: flex;
    width: 600px;
}

/**
 * Game Field
 */

#game-field table {
    border-spacing: 0px;
    margin: 0px;
}

#game-field table td {
    position: relative;
    min-width: 120px;
    height: 120px;
    padding: 0px;
    user-select: none;
}

/**
 * Sprites
 */

#game-field table .sprite{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    animation: opacity 0.2s;
    background-size: 120px 120px;
}

#game-field table td .sprite:hover {
    opacity: 0.8;
}

.hero {
    background: url('images/hero.png');
}

.land {
    background: url('images/land.png');
}

.hide {
    display: none;
}

/**
 * Mobile
 */

@media only screen and (max-device-width: 600px) {
    #game {
        display: flex;
        width: 500px;
    }

    #game-field table td {
        min-width: 100px;
        height: 100px;
    }

    #game-field table .sprite {
        background-size: 100px 100px;
    }

}

@media only screen and (max-device-width: 500px) {
    #game {
        display: flex;
        width: 400px;
    }

    #game-field table td {
        min-width: 80px;
        height: 80px;
    }

    #game-field table .sprite {
        background-size: 80px 80px;
    }
}

@media only screen and (max-device-width: 400px) {
    #game {
        display: flex;
        width: 300px;
    }

    #game-field table td {
        min-width: 60px;
        height: 60px;
    }

    #game-field table .sprite {
        background-size: 60px 60px;
    }
}